<div class='location'>
  <div class="input-field col s6">
    <input type='text' id='city' [(ngModel)]='city' (keyup)='validateCity()'/>
    <label for="city">City</label>
  </div>
  <div class="input-field col s6">
    <input type='text' id='state' [(ngModel)]='state' (keyup)='validateState()'/>
    <label for="state">State</label>
  </div>
  <div class="input-field col s6">
    <input type='text' id='cep' [(ngModel)]='cep' (keyup)='validateCep()'/>
    <label for="cep">Cep</label>
  </div>
  <a class="waves-effect waves-light btn-small" (click)='checkCep()'>Check CEP</a>
</div>
